* {
    box-sizing: border-box;
}

body {
    background-color: rgb(192, 165, 218);
}

canvas {
    height: 400px;
    width: 700px;
    border: 1px solid black;
    background-color: cornsilk;
}

#marker {
    background: #000;
    width: 10px;
    height: 10px;
    margin:10px;
    border-radius: 100%;
}

.brush-size {
    display: flex;
    height: 30px;
}
.paint {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.btn {
    width: 100px;
    padding: 10px;
    font-size: 1s4px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}